.input-layout {
    display: flex;
    justify-content: center;
}

.input-layout input {
    padding: 6px 12px;
    width: 300px;
    background-color: #edf0f4;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.input-layout button {
    height: 40px;
}

.block-layout {
    padding: 50px 0;
}